*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right, #00c3ff 0%, #ffff1c  51%, #00c3ff  100%);
}
body:hover{
    
    color: #fff;
    text-decoration: none;
}

.calculator-grid {
    margin-top: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
  flex: grid;
  display:grid;
   
  min-height: 100vh;
  flex:wrap content;
    flex-wrap: wrap;
  grid-template-columns: repeat(4, 22%);
  grid-template-rows: minmax(200px, auto) repeat(5, 120px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  border-radius: 50%;
  background-image: linear-gradient(to right, #ef32d9 0%, #89fffd  51%, #ef32d9  100%);
}

.calculator-grid > button:hover {
  background-image: linear-gradient(to right, #ff4b1f 0%, #1fddff  51%, #ff4b1f  100%);
}

.span-two {
  grid-column: span 2;
}


.output {
  grid-column: 1 / -1;
 background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: flex-end;
  border-radius: 10px 15px 15px 10px;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
div[class="calculator-grid"]{
    max-height: 10px;
    height: 50%;
    }
.text{
    
    background-image: linear-gradient(to right, #0099F7 0%, #F11712  51%, #0099F7  100%);
    position: center;
    display:flex;
    text-align:center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 10px;
    flex-shrink: column;  
    font-size:40px;
    position: relative;
    text-decoration: dotted;

    
}
.text:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
